section{
    width: 100%;
    height: 600px;
    background-color: gray;
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    flex-wrap: wrap;
    align-items: center;
}

div{
    height: 200px;
    flex-basis: 200px;
}
.one{
    background-color: red;

    /*flex: 1 1 100;*/
}
.two{
    background-color: orange;
    /*flex: 2 1 200px;*/
}
.three{
    background-color: yellow;
    /*flex: 1 1 100px;*/
}
.four{
    background-color:green;
    /*flex-basis: 50px;
    flex-grow:5;*/
}
.five{
    background-color: blue;
    /*flex-basis: 100px;
    flex-shrink: 4;*/
}
